*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#name{
    position: relative;
    position: absolute;
    left: 10%;
    top: 75%;
    padding: 10px;
    font-weight: 700;
    z-index: 10;
}


#button{
    position: relative;
    position: absolute;
    left: 15%;
    top: 80%;
    margin-top: 20px;
    padding: 20px;
    font-weight: 700;
    z-index: 10;   
}


.products{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    margin-top: 20px;
    padding: 20px;
}

.product-card img{
    width: 100%;
    height: 300px;
}

.product-card{
    padding: 15px;
    flex: 1 1 350px;
    max-width: 700px;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 0px 4px 8px black;
    transition: transform 0.3s ease-in-out;
    margin: 10px auto;
    overflow: hidden;
}

.product-card:hover{
    transform: translateX(-5px);
    border: 5px solid yellow;
}

.product-info{
    padding: 15px;
    line-height: 30px;

}


.product-info button{
    width: 100%;
    padding: 5px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,58,29,0.8969712885154062) 0%, rgba(252,176,69,1) 100%);
    border-radius: 5px;
}

.product-info button:hover{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(252,176,69,1) 0%, rgba(253,58,29,0.8969712885154062) 49%);
}

.product-info p{
    color: blue;
}

.heading h1{
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
}

#img1:hover{
    content: url("D:/FRONTEND/E-Commerce Project/Images/Fashion/Adidas/adidas12.avif");
}

#img2:hover{
    content: url("D:/FRONTEND/E-Commerce Project/Images/Fashion/Adidas/adidas21.avif");
}

#img3:hover{
    content: url("D:/FRONTEND/E-Commerce Project/Images/Fashion/Adidas/adidas31.avif");
}

#img4:hover{
    content: url("D:/FRONTEND/E-Commerce Project/Images/Fashion/Adidas/adidas41.avif");
}

#img5:hover{
    content: url("D:/FRONTEND/E-Commerce Project/Images/Fashion/Adidas/adidas51.avif");
}

#img6:hover{
    content: url("D:/FRONTEND/E-Commerce Project/Images/Fashion/Adidas/adidas61.avif");
}

.footer{
    background-color: lightgrey;
    display: flex;
    justify-content: space-evenly;
    height: 200px;
    width: 100%;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
}

.footer-info{
    line-height: 30px;
    padding: 10px;
}

.footer-info a{
    text-decoration: none;
    color: #00649f;
}

.footer-copyrights{
    color: aliceblue;
    text-align: center;
    padding: 10px;
}

.footer-info a:hover{
    text-decoration: underline;
}

.price{
    font-weight: 300;
    color: red;
    border: 1 px solid black;
    padding: 1px;
}

